.paragraph{
    max-width: 500px;
}
.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    p, h1 {
        margin: 30px;
        margin-bottom: 0;
    }
}