.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 30%;
    min-height: 100px;
    min-width: 50px;
}
.submitButton{
    width: 50%;
    margin: 3px;
}
form{
    height: 200px;
} 
input, textarea{
    margin: 3px;
    width: 100%;
}