.contact_form{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 30%;
    min-height: 100px;
    min-width: 50px;
}
form{
    height: 200px;
} 
input, textarea, button{
    margin: 3px;
}