.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolioHeader {
    font-size: 2rem;
}
.cv_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}