.listparent{
    display: grid;
    max-width: 30vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.repoItemContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    border: solid rgb(51, 53, 65) 4px;
    border-radius: 10%;
    min-height: 40px;
    min-width: 200px;
    justify-content: center;
    padding: 5px;
}
.listItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.repoContainerParent{
    width: 100%;
    display: flex;
    justify-content: center;
}